body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cookie-btn:hover{
  cursor: pointer;
}
body{
  background-color: grey;
}

.allBtn{
  display: flex;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
}

.bonusImg{
  width: 100px;
}
.pickaxe{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.farmer{

}
.miner{

}
.allBtn2{
  display: flex;
  height: 75vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

