@font-face{
  font-family: 'Minecraft';
  src: url("./font/Minecraft.ttf");
}
body{
  margin: 0;
  background: url('https://i.ibb.co/bH3JY30/IE1G7Lr.png') no-repeat fixed;
  background-size: cover;
  background-position: center;
  font-family: Minecraft;
  font-size: 20px;
}
.all-Btn{
  display: flex;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
}
.section-Btn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
.img-Btn{
  width: 100px;
  height: 100px;
}
.btn-Principal{
  display: flex;
  height:65vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.info-Score{
  text-align: center;
}

.block-Impaire{
  display: none;
  position: absolute;
  top: 10vh; right: 45%;
  width: 20px;
}
.block-Paire{
  display: none;
  position: absolute;
  top: 10vh; left: 45%;
  width: 20px;
}
.effect-img{
  display: block;
}
/* ---------- Block ---------- */
.block-Btn {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.block-Btn:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
    cursor: pointer;
}
.block-Btn:active {
  transform: translateY(1px);
}
/* ---------- Block End ---------- */
/* ---------- Button ---------- */
.button {
  height: 40px;
  width: 100px;
  outline: 2px solid black;
  position: relative;
  display: inline-block;
  background-image: url('https://i.ibb.co/rb2TWXL/bgbtn.png');
  background-repeat: repeat;
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Minecraft;
}

.button span {
  position: relative;
  line-height: 40px;
  bottom: 3px;
}

.button:hover {
  border-bottom: 4px solid #59639A;
  border-right: 2px solid #59639A;
  border-left: 2px solid #BDC6FF;
  border-top: 2px solid #BDC6FF;
  background-color: rgba(100, 100, 255, .45);
  color: #FFFFA0;
  cursor: pointer;
}
.button:active {
  transform: translateY(2px);
}
/* ---------- Button End ---------- */